<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
</head>
    <h1>Add Student</h1>
<body>
    <h2>{{ error }}</h2>
    <form action = "/student/add" method = "POST">
        <h3>Add Student</h3>
            First Name<br>
            <input type = "text" name = "first_name" /><br>
            Last Name<br>
            <input type = "text" name = "last_name" /><br>
            Submit<br>
            <input type = "submit" value = "submit" /><br>
    </form>
</body>
</html>