<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
    <h1>Dashboard</h1>
<body>
    <h2>Students</h2>
    <table border = 1>
        <tr>
            <th>Student ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>View Quiz Results</th>
            <th>Delete?</th>
        </tr>
        {% for row in students %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['first_name'] }}</td>
            <td>{{ row['last_name'] }}</td>
            <td><a href="/student/{{ row['id'] }}">View</a></td>
            <td><a href="/student/delete/{{ row['id'] }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/student/add">Add student</a>
    <br><br>
    <h2>Quizzes</h2>
    <table border = 1>
        <tr>
            <th>Quiz ID</th>
            <th>Subject</th>
            <th>Number of Questions</th>
            <th>Quiz Date</th>
        </tr>
        {% for row in quizzes %}
        <tr>
            <td>{{ row['id'] }}</td>
            <td>{{ row['subject'] }}</td>
            <td>{{ row['num_questions'] }}</td>
            <td>{{ row['date'] }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <a href="/quizzes/add">Add quiz</a>
    <a href="/results/add">Add quiz result</a>
</body>
</html>